doctype html
html(lang="es" class="dark h-full")
    head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    script(src="https://cdn.tailwindcss.com?plugins=forms,container-queries")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
    script.
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: "#38bdf8",
              "background-dark": "#0d1117",
              "card-dark": "#161b22",
              "text-light": "#e6edf3",
              "border-dark": "#30363d"
            }
          }
        }
      };
    style.
      body { font-family: 'Inter', sans-serif; }
      .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      }
    body.bg-background-dark.min-h-screen.flex.items-center.justify-center                
        main.w-full.max-w-md.p-8.space-y-6.rounded-xl.shadow-2xl.bg-gray-800
            header.rounded-full.bg-slate-900.text-center.-mt-24
                section.p-2
                    span(class="material-symbols-outlined text-primary text-3xl") local_shipping
                    h1(class="text-2xl font-semibold text-stone-50") Login 
            section
                label.text-sm.text-blue-100 Usuario
                input(type="email" placeholder="Usuario" class="rounded-full space-y-2 w-full shadow-2x1 focus:bg-slate-500/20  transition-all" required)
            section
                label.text-sm.text-blue-100 Contraseña
                input(type="password" placeholder="Contraseña" class="rounded-full space-y-2 w-full shadow-2x1 focus:bg-slate-500/20  transition-all" required)
            section
                a(class="flex w-full justify-center rounded-full bg-blue-500 px-3 py-1.5 text-lg py-2 font-semibold text-stone-50 hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                    href="/") Iniciar Sesión
